* {
    box-sizing: border-box;
  }
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#div0{
    background-size: cover;
    background-image: url("../assets/divmain.png");
}
.logo>img{
max-width: 60%;   
}
#btnEng1{
    max-height: 1.5rem;
    min-width: 5rem;
    border-radius: 0;
    font-size: 12px;
}
#btnSI{
    max-height: 1.5rem;
    min-width: 4rem;
    font-size: 12px;
    border-radius: 2px;
}

.fs-26{
    font-size: 26px;
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.ht-50{
    height: 50%;
}
#floatingInput,#getSbtn{
border-radius: 0;
}

.flex-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
#getSbtn>img{
    width: 5.03px;
    height: 10.62px;
}
.bgBlack{
    background-size: cover;
    background-color: black;
}
#accordion>p{
    font-size: 18px;
}
.hPlus{
    height: 1rem;
}
#div3{
    font-size: 12px;
}
#btnEng2{
    width:7rem;
    border-radius: 0;
    border-color: #adb5bd;
    color: white;
    background: none;
}
@media (max-width: 767px) {
    #mainDiv>h1{
    width: 75%;
}
    .flex-container {
      flex-direction: column;
    }
    .flex-item-right{
        margin-top: 1rem;
    }
    #floatingInput{
        height: 3rem;
    }
  }
  @media (min-width:768px) and (max-width:1024px){
    .logo>img{
        max-width: 80%;
    }

    #div0{
        height: 100vh;
    }
    #btnEng1{
        max-height: 2rem;
        min-width: 6.5rem;
        border-radius: 0;
        font-size: 12px;
    }
    #btnSI{
        max-height: 2rem;
        min-width: 5rem;
        font-size: 12px;
        border-radius: 2px;
    }
    .w75{
        width: 75%;
        }
    .fs-25{
        font-size: 25px;
    }
    .fs-50{
        font-size: 50px;
    }
    .fs-20{
        font-size: 20px;
    }
    .aP-fs26{
        font-size: 26px;
    }
 }
 @media (min-width:1025px) and (max-width:1200px) {
    .logo>img{
        max-width: 100%;
    }

    #div0{
        height: 100vh;
    }
    #btnEng1{
        max-height: 2rem;
        min-width: 6.5rem;
        border-radius: 0;
        font-size: 12px;
    }
    #btnSI{
        max-height: 2rem;
        min-width: 5rem;
        font-size: 12px;
        border-radius: 2px;
    }  
    .w75{
        width: 75%;
        }
    .fs-60{
        font-size: 60px;
    }
    .fs-50{
        font-size: 50px;
    } 
    .fs-25{
        font-size: 25px;
    }  
    .fs-20{
        font-size: 20px;
    }
 }